{% extends "dashboard.html" %}
{% block body %}
    <div class="bg-light border rounded-3" style="padding: 10px;min-height: 800px;">
        <h2>KNN Classification</h2>
        <div class="row">
            <div class="col-6">
                <img src="{{ url_for('static',filename='images/find_fit_k.png') }}" alt="k optimum" class="img-fluid">
                <p class="lead text-center">
                    Gambar hasil pengujian untuk menentukan nilai K yang optimum dengan melakukan training dan testing dengan Algorithms KNN
                </p>
            </div>
            <div class="col-6">
                <h4>Information</h4>
                <dl class="row">
                    <dt class="col-sm-4">Algorithms</dt>
                    <dd class="col-sm-8">k-Nearest Neighbors (kNN) Classification Algorithms</dd>

                    <dt class="col-sm-4">Number of Label/Class</dt>
                    <dd class="col-sm-8">2 Label/Class</dd>

                    <dt class="col-sm-4">Number of Data</dt>
                    <dd class="col-sm-8">{{alldata}} Data</dd>

                    <dt class="col-sm-4">Models </dt>
                    <dd class="col-sm-8">knn_model_v1.0</dd>

                    <dt class="col-sm-4">Number of Neighbors </dt>
                    <dd class="col-sm-8">3</dd>

                    <dt class="col-sm-4">Metrics calculate</dt>
                    <dd class="col-sm-8">Euclidean distance</dd>

                    <dt class="col-sm-4">Feature</dt>
                    <dd class="col-sm-8">Nilai skp, Orientasi, Integritas, Komitmen, Disiplin, Kerjasama</dd>

                    <dt class="col-sm-4">Number of Data</dt>
                    <dd class="col-sm-8">
                        <dl class="row">
                            <dt class="col-sm-4">Data Training</dt>
                            <dd class="col-sm-8">{{data_train}} Data</dd>
                            <dt class="col-sm-4">Data Testing</dt>
                            <dd class="col-sm-8">{{data_test}} Data</dd>
                        </dl>
                    </dd>

                </dl>
            </div>
            <br/>
            <div class="col-6">
                <h4>Confusion Matrics</h4>
                <table class="table">
                    <thead style="text-align: right;">
                        <tr>
                            <td></td>
                            <td>Precision</td>
                            <td>Recall</td>
                            <td>f1-score</td>
                            <td>support</td>
                        </tr>
                    </thead>
                    <tbody style="text-align: right;">
                        <tr>
                            <td>0</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Accuracy</td>
                            <td colspan="2"></td>
                            <td>1.00</td>
                            <td>51</td>
                        </tr>
                        <tr>
                            <td>Macro avg</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>51</td>
                        </tr>
                        <tr>
                            <td>weighted avg</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>1.00</td>
                            <td>51</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <img src="{{ url_for('static',filename='images/cf_matrics.png') }}" alt="Confusion Matrics" class="img-fluid justify-content-center">
                <p class="lead text-center">
                    Gambar True Positif dan True Negatif dengan Confusion Matrics
                </p>
            </div>
        </div>
        <div class="row mt-20">
            <h4>Form Classification</h4>
            <div class="col-7">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Import File Excel</label>
                    <input class="form-control" type="file" id="excelFile" name="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                </div>
                <button class="btn btn-primary" id="load" disabled="true">Import File</button>
            </div>
            <div class="col-5">
                <p class="lead">Keterangan</p>
                <p>Untuk mengetahui klasifikasi sebuah data yang belum diketahui kelas dari data tersebut dapat menggunakan form disamping. Masukkan nilai dari setiap aspek yang akan menjadi nilai fitur dari tersebut.</p>
            </div>
            <div class="col-12">
                <h4>Result</h4>
                <p id="msg"></p>
                {% if predict%}
                    <p class="alert alert-primary text-center">
                        Prediksi class dari data adalah : <b>{{predict}}</b> 
                    </p>
                {% else %}
                    <p class="alert alert-warning text-center">
                        Tidak ada data yang di proses.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
    let urlit = "{{request.path}}";

    $("#excelFile").change(function(){
        $("#load").prop("disabled", false);
    })

    $("#load").on("click", function(){
        var form_data = new FormData();
        form_data.append('file',$("#excelFile").prop('files')[0])
        $.ajax({
            url:`${urlit}load-file`,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function(response){
                $("#msg").html("");
                $.each(response, function(key, data){
                    if(key !== 'message'){
                        $("#msg").append(key + ' -> ' + data + '<br/>');
                    }else{
                        $("#msg").append(data +'<br/>');
                    }
                })
                $("#excelFile").val("")
                $("#load").prop("disabled", true);
            },
            error: function(response) {
                $("#msg").html(response.message);
            }
        })
    })
</script>
{% endblock %}