{% extends "dashboard.html" %}
{% block body %}
<div class="bg-light border rounded-3" style="padding: 10px;min-height: 800px;">
    <h2>K-Means Clustering</h2>
    <div class="row">
        <div class="col-6">
            <img src="{{ url_for('static',filename='images/elbow.png') }}" alt="image elbow" class="img-fluid">
            <p class="lead text-center">
                Gambar hasil pengujian untuk menentukan cluster yang optimum dengan metode Elbow
            </p>
        </div>
        <div class="col-6">
            <h4>Information</h4>
            <dl class="row">
                <dt class="col-sm-4">Algorithms</dt>
                <dd class="col-sm-8">K-Means - CLustering Algiruthms</dd>

                <dt class="col-sm-4">Number of Cluster</dt>
                <dd class="col-sm-8">2 Cluster</dd>

                <dt class="col-sm-4">Number of Data</dt>
                <dd class="col-sm-8">{{numberAllData}} Data</dd>

                <dt class="col-sm-4">Models versions</dt>
                <dd class="col-sm-8">kmeans-v1.0.0</dd>

                <dt class="col-sm-4">Feature</dt>
                <dd class="col-sm-8">Nilai skp, Orientasi, Integritas, Komitmen, Disiplin, Kerjasama</dd>

                <dt class="col-sm-4">Number of Data cluster</dt>
                <dd class="col-sm-8">
                    <dl class="row">
                        <dt class="col-sm-4">Data Cluster</dt>
                        <dd class="col-sm-8">{{dataCluster}} Data</dd>
                        <dt class="col-sm-4">Cluster One</dt>
                        <dd class="col-sm-8">{{clus_1}} Data</dd>
                        <dt class="col-sm-4">Cluster Two</dt>
                        <dd class="col-sm-8">{{clus_2}} Data</dd>
                        <dt class="col-sm-4">Data not train</dt>
                        <dd class="col-sm-8">{{no_label}} Data</dd>
                    </dl>
                </dd>

            </dl>
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    {% if no_label|int > 250 %}
                        <a href="/clustering/train" class="btn btn-primary:href">Train Cluster</a>
                    {% else %}
                        <button id="btn-train" type="submit" class="btn btn-primary" disabled="true">Train Cluster</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
         <h4>K-Means Models</h4>
        <div class="col-7">
            <!-- <form enctype="multipart/form-data" method="post"> -->
                <div class="mb-3">
                    <label for="formFile" class="form-label">Import File Excel</label>
                    <input class="form-control" type="file" id="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                </div>
                <button class="btn btn-primary" id="import">Import File</button>
            <!-- </form> -->
        </div>
        <div class="col-5">
            <p class="lead">Keterangan</p>
            <p>Untuk mengetahui cluster/kelompok sebuah data yang belum diketahui dapat menggunakan form disamping. Masukkan file excel yang berisi data yang akan di cari cluster/kelompoknya.</p>
        </div>
        <p id="msg"></p>
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-primary" id="btn-next" data-next="centroid_1" hidden>Calculate distance</button>
                </div>
                <div class="col-10">
                    <p class="lead text-center" id="now-step"></p>
                </div>
            </div>
            <table class="table table-hover" id="data-cluster" style="width: 100%;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nilai SKP</th>
                        <th>Orientasi</th>
                        <th>Integritas</th>
                        <th>Komitmen</th>
                        <th>Disiplin</th>
                        <th>Kerjasama</th>
                    </tr>
                </thead>
                <tbody id="list-data">
                    <tr><td colspan="8"><p class="alert alert-warning text-center">Tidak ada data excel yang di load</p></td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nilai SKP</th>
                        <th>Orientasi</th>
                        <th>Integritas</th>
                        <th>Komitmen</th>
                        <th>Disiplin</th>
                        <th>Kerjasama</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<br/>
{% endblock %}

{% block js %}
<script type="text/javascript">
    let url = "{{request.path}}"
</script>
<script src="{{url_for('static',filename='js/pro.clustring.js')}}"></script>
{% endblock %}