{% extends "dashboard.html" %}
{% block body %}
<div class="bg-light border rounded-3" style="padding: 10px;min-height: 800px;">
    <h2>K-Means Clustering</h2>
    <div class="row">
        <div class="col-6">
            <img src="{{ url_for('static',filename='images/elbow.png') }}" alt="image elbow" class="img-fluid">
            <p class="lead text-center">
                Gambar hasil pengujian untuk menentukan cluster yang optimum dengan metode Elbow
            </p>
        </div>
        <div class="col-6">
            <h4>Information</h4>
            <dl class="row">
                <dt class="col-sm-4">Algorithms</dt>
                <dd class="col-sm-8">K-Means - CLustering Algiruthms</dd>

                <dt class="col-sm-4">Number of Cluster</dt>
                <dd class="col-sm-8">2 Cluster</dd>

                <dt class="col-sm-4">Number of Data</dt>
                <dd class="col-sm-8">{{numberAllData}} Data</dd>

                <dt class="col-sm-4">Models versions</dt>
                <dd class="col-sm-8">kmeans-v1.0.0</dd>

                <dt class="col-sm-4">Feature</dt>
                <dd class="col-sm-8">Nilai skp, Orientasi, Integritas, Komitmen, Disiplin, Kerjasama</dd>

                <dt class="col-sm-4">Number of Data cluster</dt>
                <dd class="col-sm-8">
                    <dl class="row">
                        <dt class="col-sm-4">Data Cluster</dt>
                        <dd class="col-sm-8">{{dataCluster}} Data</dd>
                        <dt class="col-sm-4">Cluster One</dt>
                        <dd class="col-sm-8">{{clus_1}} Data</dd>
                        <dt class="col-sm-4">Cluster Two</dt>
                        <dd class="col-sm-8">{{clus_2}} Data</dd>
                        <dt class="col-sm-4">Data not train</dt>
                        <dd class="col-sm-8">{{no_label}} Data</dd>
                    </dl>
                </dd>

            </dl>
            <div class="row align-items-center">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    {% if no_label|int > 250 %}
                        <a href="/clustering/train" class="btn btn-primary:href">Train Cluster</a>
                    {% else %}
                        <button id="btn-train" type="submit" class="btn btn-primary" disabled="true">Train Cluster</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
         <h4>K-Means Models</h4>
        <div class="col-7">
            <!-- <form enctype="multipart/form-data" method="post"> -->
                <div class="mb-3">
                    <label for="formFile" class="form-label">Import File Excel</label>
                    <input class="form-control" type="file" id="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                </div>
                <button class="btn btn-primary" id="import">Import File</button>
            <!-- </form> -->
        </div>
        <div class="col-5">
            <p class="lead">Keterangan</p>
            <p>Untuk mengetahui cluster/kelompok sebuah data yang belum diketahui dapat menggunakan form disamping. Masukkan file excel yang berisi data yang akan di cari cluster/kelompoknya.</p>
        </div>
        <p id="msg"></p>
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-primary" id="btn-next" data-next="centroid_1" hidden>Calculate distance</button>
                </div>
                <div class="col-10">
                    <p class="lead text-center" id="now-step"></p>
                </div>
            </div>
            <table class="table table-hover" id="data-cluster" style="width: 100%;">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nilai SKP</th>
                        <th>Orientasi</th>
                        <th>Integritas</th>
                        <th>Komitmen</th>
                        <th>Disiplin</th>
                        <th>Kerjasama</th>
                    </tr>
                </thead>
                <tbody id="list-data">
                    <tr><td colspan="8"><p class="alert alert-warning text-center">Tidak ada data excel yang di load</p></td></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Nilai SKP</th>
                        <th>Orientasi</th>
                        <th>Integritas</th>
                        <th>Komitmen</th>
                        <th>Disiplin</th>
                        <th>Kerjasama</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<br/>
{% endblock %}

{% block js %}
<script type="text/javascript">
    let url = "{{request.path}}"
    let dataExcel;
    let dataExlabel;
    let p_info = $("#now-step")
    // let btnNext = `<button class="btn btn-primary" id="btn-next" data-next="calculate">Calculate distance</button>`
    $("#file").change(function(){
        $("#import").prop("disabled", false);
    })

    $("#import").on("click", function(){
        var form_data = new FormData();
        form_data.append('file',$("#file").prop('files')[0])
        $.ajax({
            url:`${url}file-excel`,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: form_data,
            type: 'post',
            success: function(response){
                dataExcel = response.data
                var html = '';
                $.each(dataExcel, function(key, data){
                    html += `<tr>
                            <td>${data.no}</td>
                            <td>${data.nama}</td>
                            <td>${data.nilai_skp}</td>
                            <td>${data.orientasi}</td>
                            <td>${data.integritas}</td>
                            <td>${data.komitmen}</td>
                            <td>${data.disiplin}</td>
                            <td>${data.kerjasama}</td>
                        </tr>`;
                })
                $("#list-data tr").replaceWith(html);
                $("#file").val("")
                $("#import").prop("disabled", true);
                $("#btn-next").removeAttr("hidden");
                $("#file").prop('disabled', true);
                p_info.text("Data Excel berhasil di load....")
            },
            error: function(response) {
                $("#msg").html(response.message);
            }
        })
    })

    $("#btn-next").click(function(){
        let now_step = $(this).attr('data-next');
        let next_step;

        switch (now_step) {
            case 'centroid_1':
                next_step = 'centroid_2';
                break;
            case 'centroid_2':
                next_step = 'distance';
                break;
            case 'distance':
                next_step = 'label';
                break;
            case 'label':
                next_step = 'finish'
                break;
        }
        if(now_step !== 'label'){
            $(this).text(`Next ${next_step}`);
            $(this).attr("data-next", next_step);
        }else{
            $(this).prop('disabled', true);
            $(this).text("Finish");
        }
        
        if(now_step === 'label'){
           $(".table thead tr").append('<th>Label</th>');
           $(".table tfoot tr").append('<th>Label</th>');
           let row = ''
           $.each(dataExlabel, function(key, data){
                row += '<tr>';
                row += `<td>${data.no}</td>
                        <td>${data.nama}</td>
                        <td>${data.nilai_skp}</td>
                        <td>${data.orientasi}</td>
                        <td>${data.integritas}</td>
                        <td>${data.komitmen}</td>
                        <td>${data.disiplin}</td>
                        <td>${data.kerjasama}</td>
                        <td>${data.jarak_centroid_0}</td>
                        <td>${data.jarak_centroid_1}</td>`
                if(data.jarak_centroid_0 < data.jarak_centroid_1){
                    row += '<td>Cluster 0 </td>';
                }else{
                    row += '<td>Cluster 1 </td>'
                }
                row += '</tr>';
           });

           $("#list-data").html(row);
           p_info.text("Proses Akhir pada K-Means Clustering");
        }else{
            $.ajax({
                url:`${url}calculate`,
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify({'step': now_step, 'data': dataExcel}),
                type: 'post',
                success: function(res){
                    let data_res = res.data;
                    var tr_new = '';
                    
                    $.each(data_res, function(key, data){
                        if (now_step === 'distance') {
                            tr_new += `<tr>
                                <td>${data.no}</td>
                                <td>${data.nama}</td>
                                <td>${data.nilai_skp}</td>
                                <td>${data.orientasi}</td>
                                <td>${data.integritas}</td>
                                <td>${data.komitmen}</td>
                                <td>${data.disiplin}</td>
                                <td>${data.kerjasama}</td>
                                <td>${data.jarak_centroid_0}</td>
                                <td>${data.jarak_centroid_1}</td>
                            </tr>`;
                        }else{
                            tr_new += `<tr>
                                <td>${data.no}</td>
                                <td>${data.nama}</td>
                                <td>${data.nilai_skp}</td>
                                <td>${data.orientasi}</td>
                                <td>${data.integritas}</td>
                                <td>${data.komitmen}</td>
                                <td>${data.disiplin}</td>
                                <td>${data.kerjasama}</td>
                            </tr>`;
                        }
                    })

                    if (now_step === 'distance') {
                        addeHeadAndBodyCol();
                        dataExlabel = data_res;
                    }
                    // tr_new += "</tbody>"; 
                    $("#list-data").html(tr_new);
                    p_info.text(res.informasi)
                },
                error: function(res){
                    console.error(res.message);
                }
            });
        }
    })

    function addeHeadAndBodyCol(){
        let th = `<th>Jarak centroid 0</th>
                    <th>Jarak centroid 1</th>`;
        $(".table thead tr").append(th);
        $(".table tfoot tr").append(th);
    }
</script>
{% endblock %}