<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Aplikasi kelayakan pegawai</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" media="screen">
</head>

<body style='background-color:#ECF0F1;'>
  <nav class="navbar fixed-top bg-dark navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Aplikasi Kelayakan Pegawai</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container d-flex flex-wrap">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
            <li class="nav-item">
              <a href="/dashbord/" class="nav-link {{active_a}}" aria-current="page">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="/dashbord/data-aspek" class="nav-link {{active_b}}">Data Aspek Nilai</a>
            </li>
            <li class="nav-item">
              <a href="/pegawai/" class="nav-link {{active_c}}">Data Pegawai</a>
            </li>
            <li class="nav-item">
              <a href="/dashbord/data-cluster" class="nav-link {{active_d}}">Data Cluster</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {{active_e}}">Rekomendasi</a>
            </li>
          </ul>
          <ul class="nav">
            <li class="nav-item">
              <a href="/logout" class="nav-link">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:70px;">
    {% block body %}
    {% endblock %}
  </div>

  <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>