{% extends "dashboard.html" %}
{% block body %}
<div class="bg-light border rounded-3" style="padding: 10px;min-height: 800px;">
    <h2>Data aspek</h2>
    <div class="row">
        <div class="col-2">
            <h5>Tahun</h5>
            {% if year %}
            {% for thun in year %}
            <a href="/dashbord/data-aspek/tahun/{{thun.tahun}}">{{thun.tahun}}</a><br />
            {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">Data tidak ada</div>
            {% endif %}
        </div>
        <div class="col-10">
            <a href="/dashbord/data-aspek/tambah-data" class="btn btn-primary" style="margin-bottom: 10px;">Tambah
                Data</a>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Nama Pegawai</th>
                        <th>Nilai SKP</th>
                        <th>Orientasi</th>
                        <th>Integritas</th>
                        <th>Komitmen</th>
                        <th>Disiplin</th>
                        <th>Kerjasama</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set n = 1 %}
                    {% for data in dataAspek %}
                    <tr>
                        <td>{{ n }}</td>
                        <td>{{ data.nama_pegawai }}</td>
                        <td>{{ data.nilai_skp }}</td>
                        <td>{{ data.orientasi }}</td>
                        <td>{{ data.integritas }}</td>
                        <td>{{ data.komitmen }}</td>
                        <td>{{ data.disiplin }}</td>
                        <td>{{ data.kerjasama }}</td>
                        <td><a href="/dashbord/data-aspek/edit/{{data.id_aspek}}">Edit</a> | <a
                                href="/dashbord/data-aspek/delete/{{data.id_aspek}}">Delete</a></td>
                    </tr>
                    {%  set n = n+1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}