{% extends "dashboard.html" %}
{% block body %}
<div class="bg-light border rounded-3" style="padding: 10px;min-height: 800px;">
    <h2>Data aspek</h2>
    <div class="row">
        <div class="col-2">
            <h5>Tahun</h5>
            {% if year %}
            {% for thun in year %}
            <a href="/dashbord/data-aspek/tahun/{{thun.tahun}}">{{thun.tahun}}</a><br />
            {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">Data tidak ada</div>
            {% endif %}
        </div>
        <div class="col-10">
            <a href="/dashbord/data-aspek/tambah-data" class="btn btn-primary" style="margin-bottom: 10px;">Tambah
                Data</a>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Nama Pegawai</th>
                        <th>Nilai SKP</th>
                        <th>Orientasi</th>
                        <th>Integritas</th>
                        <th>Komitmen</th>
                        <th>Disiplin</th>
                        <th>Kerjasama</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in dataAspek %}
                    <tr>
                        <td>#</td>
                        <td>{{ data.nama_pegawai }}</td>
                        <td>{{ data.nilai_skp }}</td>
                        <td>{{ data.orientasi }}</td>
                        <td>{{ data.integritas }}</td>
                        <td>{{ data.komitmen }}</td>
                        <td>{{ data.disiplin }}</td>
                        <td>{{ data.kerjasama }}</td>
                        <td><a href="/dashbord/data-aspek/edit/{{data.id_aspek}}">Edit</a> | <a
                                href="/dashbord/data-aspek/delete/{{data.id_aspek}}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                 {% set number = hal|int + 1 %}
                 {% set prenumber = hal|int - 1 %}
                <ul class="pagination justify-content-center">
                    {% if disabled %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="/dashbord/data-aspek/{{prenumber}}">Previous</a>
                    </li>
                    {% for n in range(1, total_page) %}
                        {% if hal|int == n %}
                            <li class="page-item disabled"><a class="page-link" href="/dashbord/data-aspek/{{n}}">{{n}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/dashbord/data-aspek/{{n}}">{{n}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if number == total_page %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="/dashbord/data-aspek/{{number}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock%}