{% extends "dashboard.html" %}
{% block body %}
<div class="bg-light border rounded-3" style="padding: 10px;min-height: 500px;">
    <h5>Form Update Nama Pegawai</h5>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="{{request.path}}" method="post">
                {% for pegawai in data %}
                <input type="hidden" name="id" value="{{pegawai.id_pegawai}}">
                <div>
                    <label for="nama pegawai" class="form-label">Nama Pegawai</label>
                    <input type="text" name="nama_pegawai" id="nama_pegawai" class="form-control" value="{{pegawai.nama_pegawai}}" required>
                </div>
                {% endfor %}
                <br />
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock%}