{% extends "dashboard.html" %}
{% block body %}
<div class="bg-light border rounded-3" style="padding: 10px;">
    <h5>Form Tambah Data Nilai Pegawai</h5>
    <form action="{{ request.path }}" method="post">
        <div class="row align-items-start">
            <div class="col-6">
                <div>
                    <label for="pegawai" class="form-label">Nama Pegawai</label>
                    <select name="id_pegawai" class="form-control">
                        <option value=1>---</option>
                    </select>
                </div>
                <div>
                    <label for="tahun" class="form-label">Tahun</label>
                    <input type="text" name="tahun" id="tahun" class="form-control" placeholder="Tahun"
                        value="0000">
                </div>
                <div>
                    <label for="nilai skp" class="form-label">Nilai SKP</label>
                    <input type="number" name="nilai_skp" id="nilai_skp" class="form-control" placeholder="Nilai SKP"
                        value="0.0">
                </div>
                <div>
                    <label for="orientasi" class="form-label">Orientasi</label>
                    <input type="number" name="nilai_orientasi" id="nilai_orientasi" class="form-control"
                        placeholder="Nilai Orientasi" value="0.0">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="nilai integritas" class="form-label">Nilai Integritas</label>
                    <input type="number" name="nilai_integritas" id="nilai_integritas" class="form-control"
                        placeholder="Nilai Integritas" value="0.0">
                </div>
                <div>
                    <label for="nilai komitmen" class="form-label">Nilai Komitmen</label>
                    <input type="number" name="nilai_komitmen" id="nilai_komitmen" class="form-control"
                        placeholder="Nilai Komitmen" value="0.0">
                </div>
                <div>
                    <label for="nilai disiplin" class="form-label">Nilai Disiplin</label>
                    <input type="number" name="nilai_disiplin" id="nilai_disiplin" class="form-control"
                        placeholder="Nilai Disiplin" value="0.0">
                </div>
                <div>
                    <label for="nilai kerjasama" class="form-label">Nilai kerjasama</label>
                    <input type="number" name="nilai_kerjasama" id="nilai_kerjasama" class="form-control"
                        placeholder="Nilai Kerjasama" value="0.0">
                </div>
            </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Submit</button> <button type="reset" class="btn btn-danger">Reset</button>
    </form>
</div>
{% endblock %}